<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="text-dark text-center">
                    Cadastro de contatos
                </h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Nome completo</label>
                        <input type="text" name="NOME" id="NOME" class="form-control">
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-sm-6 col-md-6">
                            <label>Telefone</label>
                            <input type="tel" name="TELEFONE" id="TELEFONE" class="form-control">
                        </div>
                        <div class="col-12 col-sm-6 col-md-6">
                            <label>Celular</label>
                            <input type="tel" name="TELEFONE" id="TELEFONE" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" name="EMAIL" id="EMAIL" class="form-control">
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="col-6 col-sm-2 col-md-2">
                            <button type="reset" class="btn btn-outline-secondary btn-block">Limpar Campos</button>
                            <button class="btn btn-outline-success btn-block btn-save">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <p class="text-center text-dark">
                    Todos os direitos reservados
                </p>
            </div>
        </div>
    </div>
</div>