<div class="row mt-3">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="text-dark text-center">
                    Listagem de contatos cadastrados
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">ID</td>
                                <td class="text-center">Nome</td>
                                <td class="text-center">Telefone</td>
                                <td class="text-center">E-mail</td>
                                <td class="text-center">Ação</td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-center text-dark">
                    Todos os direitos reservados
                </p>
            </div>
        </div>
    </div>
</div>
<script src="assets/contato/controller/list.js"></script>